.vscode
checkpoints
best_checkpoints
data
output
pretrained_models
wandb
build
viz_annos
lib/_C.cpython-37m-x86_64-linux-gnu.so
intent_action_prediction.egg-info/
.ipynb_checkpoints
ipython_notebook/result_frames/
ipython_notebook/result_videos/

__pycache__
*.pyc
*.log
*.pkl
